body {
  background-color: coral;
  font-family: Arial;
  margin: 15px; 
}

h1 {
  color: green;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: green;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: green;
  font-size: 50px;
  font-weight: bold;
}
p {
  font-size: 30px;
}

.question {
  color: blue;
}

.answer {
  color: purple;
}