body {
  background-color: coral;
  font-family: Arial;
  margin: 15px; 
  padding: 15px;
}

h1 {
  color: green;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: green;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: green;
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}

p {
  font-size: 20px;
  padding: 5px;
}

ol {
  display: block;
  list-style-type: decimal;
  padding-left: 10px;
  list-style-position: inside;
  font-size: 20px;
}

ul {
  display: block;
  list-style-type: disc;
  padding-left: 20px;
  list-style-position: inside;
  font-size: 20px;
}

.question {
  color: blue;
}

.answer {
  color: purple;
  padding-left: 20px;
}

.top-ten {
  color: blue;
  padding-left: 10px;
}