body {
  background-color: coral;
  font-family: Arial;
  margin: 15px; 
}

h1 {
  color: green;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: green;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

p {
  color: blue;
  font-size: 30px;
}